@font-face {
    font-family: ubuntu;
    src: url("resources/font/Ubuntu-Regular.ttf");
}

* {
    font-family: ubuntu;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    margin-top: 10px;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 1060px;
    margin: 40px auto;
    box-shadow: 0px 0px 50px rgba(156, 155, 158, 0.89);
}

.overlay {
    background-color: rgba(183, 164, 123, 0.75);
    display: flex;
    opacity: 1;
    background-image: linear-gradient(135deg, #c6b798 25%, transparent 25%), linear-gradient(225deg, #c6b798 25%, transparent 25%), linear-gradient(45deg, #c6b798 25%, transparent 25%), linear-gradient(315deg, #c6b798 25%, #c9bb9c 25%);
    background-position: 7px 0, 7px 0, 0 0, 0 0;
    background-size: 7px 7px;
}

.header_photo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin: 43px;
    border: 2px solid #c3b493;
}

.header {
    width: 100%;
    text-align: center;
    color:rgb(91, 91, 91);
    margin: auto;
}

.nav_list {
    background-color:rgba(255, 255, 255, 0.89);
    height: 30px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 5px 25px;
}

.nav_list li {
    margin: auto 0;
}

.nav_list li a{
    transition: 0.3s;
}

.nav_list li a:hover {
    color: black;
    font-size: 110%;
    font-weight: bold;
}

.content {
    display: flex;
}

.aside_boxes {
    width: 100%;
    background-color: rgba(212, 212, 212, 0.3);
    padding: 0px 15px 20px 35px;
    cursor: default;
}

section h2 {
    position: relative;
    font-weight: bold;
    font-size: 40px;
    margin: 30px 0px 15px;
}

section h2::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    content: "";
    transition: width 0.4s;
}

section h2:hover::after{
    width: 200px;
}


a:hover {
    color: rgba(60, 60, 63, 0.67);
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
    margin: 7.5px 0px;
}

a {
    text-decoration: none;
    color: black;
}

#tel {
    background: url("resources/telephone.png") no-repeat 0 0;
    background-size: 23px;
    padding-left: 30px;
}

#mail {
    background: url("resources/email.png") no-repeat 0 0;
    background-size: 23px;
    padding-left: 30px;
}

#telegram {
    background: url("resources/telegram.png") no-repeat 0 0;
    background-size: 23px;
    padding-left: 30px;
}

#linkedin {
    background: url("resources/linkedin.png") no-repeat 0 0;
    background-size: 22px;
    padding-left: 30px;
}

#github {
    background: url("resources/github.png") no-repeat 0 0;
    background-size: 23px;
    padding-left: 30px;
}

#location {
    background: url("resources/location.png") no-repeat 0 0;
    background-size: 23px;
    padding-left: 30px;
}

.education_list li {
    position: relative;
}

.education_list li::before {
    content: "";
    border-left: 2px solid rgb(225, 217, 205);
    position: absolute;
    height: 110%;
    left: -20px;
}

.list_item_title::after {
    content: "";
    border-bottom: 2px solid rgb(225, 217, 205);
    position: absolute;
    top: 20px;
    left: -20px;
    width: 20px;
}

.list_item_title {
    display: inline-block;
    border-radius: 7px;
    background-color: rgb(225, 217, 205);
    padding: 0px 5px;
    margin: 7px 0px;
}

.specialty {
    display: inline-block;
    border-radius: 7px;
    background-color: rgb(188, 188, 188);
    color: white;
    padding: 0px 5px;
    margin: 7px 0px;
}

.sertificat {
    text-decoration: 1px underline;
}

.skills_list {
    list-style-position: outside;
}

.skills_list li::before {
    color:rgba(60, 60, 63, 0.67);
    padding-right: 10px;
    content: "\2714";
    transition-duration: 0.5s;
}

.skills_list li:hover::before {
    color: black;
    content: "\2714";
}

.main_content {
    width: 170%;
    background-color: rgb(225, 217, 205);
    cursor: default;
}

.main_content section {
    padding: 0px 15px 0px 30px;
}

.skills_list span {
    font-weight: bold;
}

